body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.meal-details {
    width: 40rem !important;
}

.meal-details img {
    object-fit: cover;
    width: 608px;
    height: 345px;
}

#nothing-found {
    font-size: 20px;
    font-weight: 700;
    color: #dc3545;
}

.cursor-prop {
    cursor: pointer;
}

#ingredients p {
    font-weight: normal;
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    color: #6C6C6C;
}

#ingredients p::after {
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    width: 25px;
    height: 25px;
    background: url(images/checkmark.png) no-repeat center center / contain;
}